/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 10 juin 2016, 16:34:35
    Author     : Hervé MVENG
*/


.container-formation{
    position:relative;
    float:left;
    border:0px solid black;
    width:100%;
    height:auto;
    padding-bottom: 5px;
}
.container-formation .title-container{
   position:relative;
   float:left;
   border-bottom:2px solid black;
   padding-bottom: 2px;
   width:100%;
   font-size:20px;
   margin-bottom: 5px;
}

.items-formations{
    position:relative;
    float:left;
    border:1px solid silver;
    width:250px;
    margin-right:5px;
    padding-top:3px;
    text-align:center;
    margin-top:2px;
}
.items-formations.home{height:120px;}
.items-formations.training{height:150px;}
.items-formations:hover{
    background-color: silver;
}
.items-formations > div{
    
}
.items-formations div.book{
    border:0px solid blue;
    height:50px;
    background: url("../img/livre.png") no-repeat 0px;;
}
.items-formations div.title{
    font-size:18px;
    font-weight: bold;
}
.items-formations > div.option{
    
}
.items-formations > div.option a.details{
    background:url("../img/info.png") no-repeat 0px;
   background-size: 15px;
}
.items-formations > div.option a.record{
     background:url("../img/edit.png") no-repeat -2px -2px;
   background-size: 15px;
}
.items-formations > div.option a{
   padding-left:17px;
   font-style: italic;
   color:#000;
}


.container-formation .container-inscription{
    position:relative;
    float:left;
    border:0px solid orange;
    width:100%;
    height:auto;
}

.container-formation .container-inscription .box-message{
    border: 1px solid orange;
    position: relative;
    float: left;
    width: 100%;
    padding: 5px;
    border-radius: 3px;
    font-weight: bold;
    background: #F9F294;
    width:400px;
    margin-bottom: 5px;
}

.container-formation .container-inscription form{
    width:400px;
}

.container-formation .container-inscription form > div{
    margin-top:2px;
    margin-bottom:5px;
}

.container-formation .container-inscription form input[type="submit"],
.container-formation .container-inscription form input[type="reset"]{
    width: 190px; 
    margin-top:5px;
}
.container-formation .container-inscription form input[type="submit"]{
    margin-right: 5px;
}
.container-formation .container-inscription form input[type="reset"]{
    margin-left: 5px;
}
.container-formation .container-inscription form select{
    width: 100%;
    height: 30px;
}

.container-formation .info-formations{
 margin-bottom: 20px;   
}

.container-participant{
    
}

.container-participant .tab-participant{
    
    
}
.container-participant .tab-participant thead{
    background: silver;
    font-weight:bold;
}
.container-participant .tab-participant td{ 
    border:1px solid black;
    text-align: center;
}
.container-participant .tab-participant td.np{ width:200px;}
.container-participant .tab-participant td.ad{ width:300px;}
.container-participant .tab-participant td.ph{ width:150px;}
.container-participant .tab-participant td.em{ width:200px;}



