<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>ListeFormationServlet</servlet-name>
        <servlet-class>fr.formationfrontend.actionServlet.ListeFormationServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>descriptionServlet</servlet-name>
        <servlet-class>fr.formationfrontend.actionServlet.descriptionServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Inscriptioncourseservlet</servlet-name>
        <servlet-class>fr.formationfrontend.actionServlet.Inscriptioncourseservlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Listetitreformation</servlet-name>
        <servlet-class>fr.formationfrontend.actionServlet.Listetitreformation</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Confirmationinscriptionservlet</servlet-name>
        <servlet-class>fr.formationfrontend.actionServlet.Confirmationinscriptionservlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Recherchetitreformationservlet</servlet-name>
        <servlet-class>fr.formationfrontend.actionServlet.Recherchetitreformationservlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Recherchelocationformationservlet</servlet-name>
        <servlet-class>fr.formationfrontend.actionServlet.Recherchelocationformationservlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Recherchedateformationservlet</servlet-name>
        <servlet-class>fr.formationfrontend.actionServlet.Recherchedateformationservlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ListeFormationServlet</servlet-name>
        <url-pattern>/liste.kbm</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>descriptionServlet</servlet-name>
        <url-pattern>/description.kbm</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Inscriptioncourseservlet</servlet-name>
        <url-pattern>/inscription.kbm</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Listetitreformation</servlet-name>
        <url-pattern>/Listetitreformation.kbm</url-pattern>
    </servlet-mapping>
    <welcome-file-list>
        <welcome-file>accueil.jsp</welcome-file>
    </welcome-file-list>
    <servlet-mapping>
        <servlet-name>Confirmationinscriptionservlet</servlet-name>
        <url-pattern>/Confirmationinscription.kbm</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Recherchetitreformationservlet</servlet-name>
        <url-pattern>/resultatrecherchetitre.kbm</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Recherchelocationformationservlet</servlet-name>
        <url-pattern>/Recherchelocation.kbm</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Recherchedateformationservlet</servlet-name>
        <url-pattern>/resultatrecherchedate.kbm</url-pattern>
    </servlet-mapping>
    <session-config>
        <!--    <servlet-mapping> Recherchetitreformationservlet
    <servlet-name>Listetitreformation</servlet-name>
    <url-pattern>/do/*</url-pattern>
</servlet-mapping>-->
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
